@using Talktif.Models;
@model FriendsViewModel;
@{
    ViewData["Title"] = "Friends";
}

<head>
    <link rel="stylesheet" href="~/css/Chat.css" />
</head>

<body>
    <div class="row chat-page">
        <div class="container col-sm-4 mx-auto">
            @if (Model.RoomList != null)
            {
                foreach (Room_Infor item in Model.RoomList)
                {
                    <a class="btn btn-outline-dark d-block" asp-action="Friends" asp-route-id="@item.id">@item.name</a>
                }
            }
        </div>
        @if (Model.RoomID > 0)
        {
            <div class="container col-sm-8 chat-box">
                <div id="chatMessages" class="container h-100">
                    @if (Model.Messages != null)
                    {
                        foreach (Message item in Model.Messages)
                        {
                            <div class="row w-100 m-0">
                                <span class="@(item.sender != Model.UserID ? "msgtext p-2 mr-auto mb-1" : "msgtext-self p-2 ml-auto mb-1")" title="@item.sentAt.ToLocalTime()">@item.content</span>
                            </div>
                        }
                    }
                </div>
                <div class="container chat-action">
                    <form class="form-inline p-3">
                        <input id="messageInput" class="form-control chat-input mr-auto" type="text"
                        placeholder="Nhập tin nhắn" />
                        <button id="sendButton" type="submit" class="btn btn-success ml-auto">Gửi</button>
                    </form>
                </div>
            </div>
        }
    </div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    @if (Model.RoomID > 0)
    {
        <script type="text/javascript">
            var roomID = @Model.RoomID, userID = @Model.UserID, token = "@Model.UserToken";
        </script>
        <script src="~/js/friendchat.js"></script>
    }
</body>
