@using Talktif.Models
@{
    ViewData["LoggedIn"] = false;
    Layout = "~/Views/Shared/ChatLayout.cshtml";
    <link href="../logo_main.ico" rel="shortcut icon" type="image/x-icon" />
    <title>Chatting</title>
    User_Infor user = new User_Infor();
    if (ViewBag.Infor != null) user = ViewBag.Infor;
    List<City> cities = new List<City>();
    if (ViewBag.Cities != null)
    {
        cities = ViewBag.Cities;
    }
    string Message = (ViewBag.Message != null) ? ViewBag.Message : "";
    <link rel="stylesheet" href="../css/AdminUpdateUser.css" />
}
<div class="wrapper_update">
    <form action="/Admin/UpdateUser" class="form" method="POST">
        <div class="user-info">
            <span class="details">UserName :</span>
            <div class="name">
                <input id="username" name="name" type="text" value="@user.name" required />
                @* <i class="fas fa-edit username"></i> *@
            </div>
        </div>
        <div class="user-info">
            <span class="details">Email :</span>
            <input id="email" name="email" type="email" value=@user.email required disabled />
        </div>
        <div class="gender-details">
            <span class="gender-title">Gender :</span>
            <div class="category">
                <label>
                    @Html.RadioButton("Gender","Male",user.gender)
                    <td>
                        Male
                    </td>
                </label>
                <label>
                    @Html.RadioButton("Gender","Female",(!(user.gender)))
                    <td>
                        Female
                    </td>
                </label>
            </div>
        </div>
        <div class="city-setting">
            <div class="city-title">
                <span>City:</span>
            </div>
            <select name="format" id="format" class="select-setting">
                @foreach (var city in cities)
                {
                    <option value="@city.id" selected="@((user != null) && (user.cityId == city.id))">
                        @city.name
                    </option>
                }
            </select>
        </div>
        <div class="isActive-details">
            <span class="active-title">Is Active ?</span>
            <div class="category">
                <label>
                    @Html.RadioButton("Active","True",user.isActive)
                    <td>
                        True
                    </td>
                </label>
                <label>
                    @Html.RadioButton("Active","False",!user.isActive)
                    <td>
                        False
                    </td>
                </label>
            </div>
        </div>
        <div class="group-btn-update">
            <a asp-controller="Admin" asp-action="Users"
                class="btn-back d-flex justify-content-center align-items-center">
                <p class="text mb-0">
                    Back to Home
                </p>
            </a>
            <button class="btn-next-person d-flex justify-content-center align-items-center" type="submit"
                onclick="HandleUser(event)">
                <p class="text mb-0">
                    OK
                </p>
            </button>
        </div>
    </form>
</div>
<script>
    function HandleUser(event) {
        var success = window.confirm("Do you want to update user?");
        if (success == true) {
            alert("Update successfully");
        }
        else {
            event.preventDefault();
        }
    }
    if ("@Message" != "") alert("@Message");
</script>