@using Talktif.Models
@{
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
    ViewData["Name"] = (ViewBag.nameUser != null) ? ViewBag.nameUser : "";
    ViewData["city"] = (ViewBag.nameCity != null) ? ViewBag.nameCity : "";
    List<City> cities = new List<City>();
    if (ViewBag.Cities != null)
    {
        cities = ViewBag.Cities;
    }
    List<ChatBox> ChatBoxes = new List<ChatBox>();
    if (ViewBag.ListChatBox != null)
    {
        ChatBoxes = ViewBag.ListChatBox;
    }
}
<div class="container-fluid">
    <div class="row row-wrapper">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mt-4 tablet">
            <div class="dropdown col-lg-12 col-md-12 col-xs-12 col-sm-12 pr-0 pl-0 float-right">
                <div class="theme">
                    <button class="theme-transform light">
                        <a class="active-type" href="# ">
                            <img src="/img/sunny.png" alt="" />
                        </a>
                    </button>
                    <button class="theme-transform dark">
                        <a class="active-type" href="# ">
                            <img src="/img/moon.png" alt="" />
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-4 tablet">
            <form action="/Chat" method="POST">
                <div class="row">
                    <div
                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex align-items-center justify-content-between">
                        <h4>Show me the option: </h4>
                    </div>
                </div>
                <div class="row">
                    <div
                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex align-items-center justify-content-between tablet_gender">
                        @* <button id="type" class="btn mr-1 type-actor one">
                            <img src="/img/friendship.png" alt="" srcset="">
                            All
                            </button>
                            <button id="type" class="btn mr-1 type-actor two">
                            <img src="/img/boy.png" alt="" srcset="">
                            Male
                            </button>
                            <button id="type" class="btn mr-1 type-actor three">
                            <img src="/img/girl.png" alt="" srcset="">
                            Female
                            </button> *@
                        <div class="category">
                            @* <button id="type" class="btn mr-1 type-actor one"> *@
                            <div class="select-gender">
                                @Html.RadioButton("Gender","All")
                                <label id="type" class="btn mr-1 type-actor one" for="All">
                                    <td>
                                        <img src="/img/friendship.png" alt="" srcset=""> All
                                    </td>
                                </label>
                            </div>
                            @* </button> *@
                            @* <button id="type" class="btn mr-1 type-actor two"> *@
                            <div class="select-gender">
                                @Html.RadioButton("Gender","Male")
                                <label id="type" class="btn mr-1 type-actor two">
                                    <td>
                                        <img src="/img/boy.png" alt="" srcset=""> Male
                                    </td>
                                </label>
                            </div>
                            @* </button> *@
                            @* <button id="type" class="btn mr-1 type-actor three"> *@
                            <div class="select-gender">
                                @Html.RadioButton("Gender","Female")
                                <label id="type" class="btn mr-1 type-actor three">
                                    <td>
                                        <img src="/img/girl.png" alt="" srcset=""> Female
                                    </td>
                                </label>
                            </div>
                            @* </button> *@
                            @* </div> *@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 select">
                        <div class="city-title">
                            <span>City: </span>
                        </div>
                        <select name="format" id="format" defaultValue="All">
                            <option value="All">All</option>
                            @foreach (var city in cities)
                            {
                                <option value="@city.name">
                                    @city.name
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="hobbies-ls">
                    <div class="hobbies-title">
                        <span>Hobbies: </span>
                    </div>

                    <div class="hobbies-select">
                        <div class="hobbies">
                            <input type="checkbox" name="Sport" class="custom" />Sport
                        </div>


                        <div class="hobbies">
                            <input type="checkbox" name="Travel" class="custom" /> Travel
                        </div>


                        <div class="hobbies">
                            <input type="checkbox" name="Camping" class="custom" /> Camping
                        </div>


                        <div class="hobbies">
                            <input type="checkbox" name="Jogging" class="custom" /> Jogging
                        </div>

                        <div class="hobbies">
                            <input type="checkbox" name="Alone" class="custom" /> Alone
                        </div>

                        <div class="hobbies">
                            <input type="checkbox" name="Talking" class="custom" /> Talking
                        </div>

                        <div class="hobbies">
                            <input type="checkbox" name="Swimming" class="custom" /> Swimming
                        </div>

                        <div class="hobbies">
                            <input type="checkbox" name="Learning" class="custom" /> Learning
                        </div>

                        <div class="hobbies">
                            <input type="checkbox" name="Singing" class="custom" /> Singing
                        </div>


                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 d-flex justify-content-between mt-5 start-pc p-0">
                    @* <a class="btn-exit" asp-controller="Login" asp-action="Index">
                        Exit <i class="fas fa-chevron-circle-right"></i>
                        </a> *@
                    <a asp-controller="User" asp-action="Logout"
                        class="btn-next-person d-flex justify-content-center align-items-center"><img class="icon_next"
                            src="/img/left-arrow.png" alt="" srcset="">
                        <p class="text ml-2 mb-0">Log Out</p>
                    </a>
                    <button class="btn-next-person d-flex justify-content-center align-items-center" type="submit">
                        <p class="text mr-2 mb-0">Started!</p><img class="icon_next" src="/img/right-arrow.png" alt=""
                            srcset="">
                    </button>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mt-4 tablet">
            <div class="list-group-chat">
                <div class=list-friend-header>
                    <h5 class="text-center">List Friend</h5>
                </div>
                <div class="list-friend">
                    <div class="main-history-user">
                        <div class="search">
                            <input type="text" placeholder="Search..." />
                            <span class="ti-search"></span>
                        </div>
                        <div class="user-history-profile">
                            @foreach (var item in ChatBoxes)
                            {
                                <div class="user-history-item">
                                    <div class="name-user">
                                        <p>
                                            @item.Name_PartNer
                                        </p>
                                        <span>
                                            @((item.Sender == item.ID_User) ? "you " : item.Name_PartNer)
                                            : @item.LastMessage
                                        </span>
                                    </div>
                                    <div class="time-chat">
                                        @((item.LastTime).Hour) : @((item.LastTime).Minute)
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="reportUserModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Report</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name :</label>
                            <input id="name" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Reason :</label>
                            <textarea id="reason" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Notes :</label>
                            <textarea id="notes" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </div>